/**
 * @file: 
 * @author: llsunny
 * @lastEditor: llsunny
 * @update: 2022-10-27 10:58:55
 */
body {
  background: #000;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}